@font-face {
    font-family: 'Framd';
    src: url('/fonts/framd.ttf');
}

#loginFormBackground, #mainApplicationBackground {
    -fx-background-color: linear-gradient(to top, #de004e, #860029, #321450, #29132e);
}

.v-box, .grid-pane, .tab-pane, .tab, .tab-pane .tab-header-area .tab-header-background, .scroll-pane, .scroll-pane .corner, .scroll-pane .viewport, .table-column, .table-row-cell, .table-cell {
    -fx-background-color: #00000000;
}

* {
    -fx-font-family: Framd;
}

.button, .text-field, .password-field, .choice-box, .label, .tab .tab-label, .table-cell {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-family: Framd;
}

#mainApplicationMapTab {
    -fx-background-color: #29132e;
}
#mainApplicationTableTab{
    -fx-background-color: #321450;
}
#mainApplicationSettingsTab{
    -fx-background-color: #860029;
}
#mainApplicationAboutTab{
    -fx-background-color: #de004e;
}

.table-view * {
    -fx-table-cell-border-color: #ffffff;
}

.text-field, .password-field, .choice-box, .scroll-pane, .table-view, table-row-cell, .pane {
    -fx-border-radius: 0px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-background-color: #00000080;
}

.table-view .column-header {
    -fx-padding: 8px;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-color: #ffffff;
    -fx-border-collapse: collapse;
}

.table-view .column-header:right {
    -fx-padding: 8px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #ffffff;
    -fx-border-collapse: collapse;
}

.table-view .column-header-background {
    -fx-background-color: #29132e;
}

.choice-box {
    -fx-mark-color: #ffffff80;
}

.choice-box .context-menu {
    -fx-background-color: #000000;
}

.choice-box .menu-item:hover, .choice-box .menu-item:focused, .table-row-cell:focused {
    -fx-background-color: #860029;
}

.table-row-cell {
    -fx-border-width: 0px 0px 1px 0px;
}

.table-cell:focused {
    -fx-border-color: #ffffff;
}

.button {
    -fx-background-color: #29132e;
    -fx-border-radius: 0px;
}

.button:hover {
    -fx-background-color: derive(#29132e, 10%);
}

.button:pressed {
    -fx-background-color: derive(#29132e, 20%);
}

#loginFormRegisterButton {
    -fx-background-color: #321450;
}

#loginFormRegisterButton:hover {
    -fx-background-color: derive(#321450, 10%);
}

#loginFormRegisterButton:pressed {
    -fx-background-color: derive(#321450, 20%);
}

#loginFormWelcomeLabel, #mainApplicationMapLabel, #mainApplicationTableLabel, #mainApplicationSettingsLabel, #mainApplicationAboutLabel, #userInformationLabel {
    -fx-font-size: 32px;
}

Text {
    -fx-font-smoothing-type: lcd;
    -fx-fill: white;
    -fx-font-size: 16px;
}